@import "tailwindcss";

*, html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #eaeaea;
}

#bubble-left {
    border-radius: 0px 10px 10px 10px;
}

#bubble-right {
    border-radius: 10px 0px 10px 10px;
}

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

#leaves {
    animation: 3s ease-in-out leavesAnimation infinite;
}

#leaves-top {
    animation: 3s ease-in-out leavesTopAnimation infinite;
}

#leave-updown {
    animation: 3s ease-in-out leavesUpDown infinite;
}

@keyframes leavesAnimation {
    0% {
        right: -2%;
    }

    40% {
        right: 0%;
        bottom: 2%;
    }

    100% {
        right: -2%;
    }
}

@keyframes leavesTopAnimation {
    0% {
        left: -2%;
    }

    40% {
        left: 0%;
        top: 2%;
    }

    100% {
        left: -2%;
    }
}

@keyframes leavesUpDown {
    0% {
        top: -10%;
    }

    50% {
        top: 0%;
    }

    100% {
        top: -10%;
    }
}
